@model kadila.Models.Debt

@{
    ViewData["Title"] = "ELIMINAR DEUDA";
}

<form asp-action="Delete" class="row g-3 needs-validation" novalidate>
    <div class="card p-4">
        <div class="card-header d-flex justify-content-between align-items-center bg-primary text-light">
            <span><i class="fas fa-user mr-3"></i> &nbsp;&nbsp; ELIMINAR DEUDA</span>
        </div>
        <div class="card-body">
            <h3>CONFIRMACIÓN DE ELIMINACIÓN</h3>
            <h4>¿Estás seguro de eliminar la deuda?</h4>
            <div class="card-group">
                <div class="card">
                    <div class="card-body">
                        <p class="h5 card-text">@Html.DisplayFor(model => model.FechaCreacion)</p>
                        <p class="h4 card-text">@Html.DisplayNameFor(model => model.FechaCreacion)</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <p class="h5 card-text">@Html.DisplayFor(model => model.FechaLimite)</p>
                        <p class="h4 card-text">@Html.DisplayNameFor(model => model.FechaLimite)</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <p class="h5 card-text">@Html.DisplayFor(model => model.Cliente.Nombre) @Html.DisplayFor(model => model.Cliente.Apellido)</p>
                        <p class="h4 card-text">@Html.DisplayNameFor(model => model.ClienteId)</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <a asp-action="Index" class="btn btn-secondary w-100">
                CERRAR
            </a>
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="CONFIRMAR" class="btn btn-danger w-100 mt-2">
        </div>
    </div>
</form>