@model IEnumerable<kadila.Models.Debt>

@{
    ViewData["Title"] = "DEUDAS";
}

<div class="card mt-4">
    <div class="card-header d-flex justify-content-between align-items-center bg-primary text-light">
        <span><i class="fas fa-user mr-3"></i> &nbsp;&nbsp; REGISTRO DE DEUDAS</span>
        <div class="d-flex">
            <a asp-action="Create" class="btn btn-outline-light ml-auto">
                <i class="fas fa-plus"></i>&nbsp;&nbsp;&nbsp;NUEVO
            </a>
            &nbsp;
            &nbsp;
        </div>
    </div>
    <div class="card-body">
        
    </div>
    <div class="table-responsive">
        <table class="table table-bordered table-striped table-sm bg-white text-dark" style="font-size: 11pt;">
            <thead>
                <tr class="text-center">
                    <th>
                        @Html.DisplayNameFor(model => model.FechaCreacion)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FechaLimite)
                    </th>              
                    <th>
                        @Html.DisplayNameFor(model => model.Monto)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Estado)
                    </th>
                    <th>
                        CLIENTE
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CreatedAt)
                    </th>
                    <th>ACCIONES</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.FechaCreacion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FechaLimite)
                        </td>             
                        <td>
                            Bs. @Html.DisplayFor(modelItem => item.Monto)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Estado)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cliente.Apellido) @Html.DisplayFor(modelItem => item.Cliente.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreatedAt)
                        </td>
                        <td>
                            <a class="btn btn-outline-secondary mb-2" asp-action="Details" asp-route-id="@item.Id">
                                <i class="fas fa-eye"></i> VER
                            </a>
                            <a class="btn btn-outline-primary mb-2" asp-action="Edit" asp-route-id="@item.Id">
                                <i class="fas fa-edit"></i> EDITAR
                            </a>
                            <a class="btn btn-outline-danger mb-2" asp-action="Delete" asp-route-id="@item.Id">
                                <i class="fas fa-trash-alt"></i> ELIMINAR
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>